
#ifndef _SECRETS_H_
#define _SECRETS_H_
/* This is secrets.h / secrets.h.template.
 * You need to copy secrets.h.template to secrets.h and set
 * values there.
 * secrets.h should NEVER be checked into git, as the name
 * suggests it contains secrets, like WiFi passwords or
 * authentication tokens for APIs.
 */

/* There currently are no secrets in this project - because
 * things like WiFi credentials are set through the
 * webinterface, not compiled in.
 */

#endif /* _SECRETS_H_ */

